<embed src="https://twitter.com/nnamso_" width="0" height="0" tabindex="-1" title="empty"></embed>
<img src="https://twitter.com/nnamso_" style="position: absolute; margin-top: -20px; z-index: -999999" class="my_link"/>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.fitvids.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/index.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/readingTime.min.js" | prepend: site.baseurl  }}"></script>
<script>
  //Google Analytics
  
</script>

